# Tells pybabel where translatable strings live.
# N_ marks strings for extraction that are translated later at runtime.
[python: loop_cr_review.py]
keywords=_ N_

# Since the split into lcr/ most translatable strings live there.
[python: lcr/**.py]
keywords=_ N_

[python: webapp.py]
keywords=_ N_

[jinja2: templates/**.j2]
extensions=jinja2.ext.i18n
